.tabs {
  display: flex;
  justify-content: space-around;
  gap: 28px;
  border-bottom: 1px solid #dadde1;
}

.tab {
  position: relative;
  padding: 12px 0;
  text-decoration: none;
  font-weight: 500;
}

.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 3px;
  width: 100%;
  background: #e44848;
  border-radius: 999px;
}

@media (min-width: 768px) {
  .tabs {
    justify-content: flex-start;
  }

  .tab {
    font-size: 18px;
  }
}

@media (min-width: 1440px) {
  .tabs {
    gap: 40px;
  }

  .tab {
    font-size: 20px;
    padding: 24px 0;
  }
}
