.panel {
  width: 100%;
  max-width: 375px;
  background: #fff;
}

.block {
  margin-bottom: 14px;
}

.label {
  display: block;
  font-size: 12px;
  color: #6c717b;
  margin-bottom: 8px;
}

.inputWrap {
  position: relative;
  margin-bottom: 40px;
}

.inputIcon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  /* fill: #6c717b; */
  color: #6c717b;
}

.locationIcon {
  fill: currentColor;
  stroke: currentColor;
}

.input {
  box-sizing: border-box;
  max-width: 335px;
  width: 100%;
  height: 44px;
  border-radius: 12px;
  border-color: transparent;
  background-color: #f6f6f6;
  padding: 0 12px 0 40px;
  outline: none;
  font-size: 14px;
}

.input:focus + .inputIcon,
.input:focus-visible + .inputIcon {
  color: #111827;
}

.inputWrap:focus-within .inputIcon {
  color: #111827;
}

.inputWrap:has(.input:not(:placeholder-shown)) .inputIcon {
  color: #111827;
}

.filtersTitle {
  color: #6b7280;
  font-weight: 500;
}

.fieldset {
  border: 0;
  padding: 0;
  margin-top: 40px;
}

.sectionTitle {
  font-size: 18px;
  font-weight: 600;
  color: #101828;
  display: block;
  margin-bottom: 24px;
}

.devider {
  width: 100%;
  max-width: 335px;
  border: 0;
  border-top: 1px solid #dadde1;
}

.optionsGrid,
.optionsGrid3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 24px;
}

.card {
  cursor: pointer;
  display: block;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}

.cardInner {
  height: 92px;
  border-radius: 12px;
  border: 1px solid #dadde1;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition:
    border-color 150ms ease,
    box-shadow 150ms ease;
}

.card input:checked + .cardInner {
  border: 1px solid #e44848;
}

.optionIcon {
  color: #111828;
  fill: currentColor;
  stroke: currentColor;
}

.optionLabel {
  font-size: 13px;
  color: #111827;
  text-align: center;
}

.btnGroup {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 28px;
  margin-bottom: 26px;
}

.searchBtn {
  height: 46px;
  border: none;
  border-radius: 200px;
  background-color: #e44848;
  color: #fff;
  font-weight: 600;
  transition: background-color 250ms ease;
  width: 100%;
}

.searchBtn:hover {
  background-color: #d84343;
}

.resetBtn {
  height: 46px;
  border-radius: 200px;
  background-color: transparent;
  border: 1px solid #dadde1;
  color: #111828;
  font-weight: 500;
  transition: border-color 250ms ease;
  width: 100%;
}

.resetBtn:hover {
  border-color: #d84343;
}

@media (min-width: 768px) {
  .btnGroup {
    flex-direction: row;
    gap: 10px;
  }
}

@media (min-width: 1440px) {
  .input {
    max-width: 360px;
  }
}
