.bookingForm {
  display: grid;
  gap: 12px;
}

.input,
.textarea {
  width: 100%;
  border: 0;
  outline: none;
  border-radius: 12px;
  background: #f2f4f7;
  padding: 14px 16px;
  font-size: 14px;
}

.textarea {
  resize: none;
}

.sendBtn {
  justify-self: center;
  margin-top: 8px;
  border: 0;
  border-radius: 999px;
  padding: 12px 44px;
  background: #e44848;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

/*DatePicker*/
.dateWrap :global(.react-datepicker-wrapper) {
  width: 100%;
}
.dateWrap :global(.react-datepicker__input-container) {
  width: 100%;
}

.dateWrap :global(.formikError) {
  margin-top: 4px;
  font-size: 12px;
  color: #e44848;
}

.dp {
  padding: 12px;
  border: 1px solid #d0d5dd;
  border-radius: 12px;
  background: #fff;
  font-family: inherit;
  min-width: calc(36px * 7 + 24px);
}

.dp :global(.react-datepicker__header) {
  background: transparent;
  border-bottom: 0;
  padding: 0;
  margin-bottom: 8px;
}

.dp :global(.react-datepicker__current-month) {
  font-size: 16px;
  font-weight: 600;
  color: #101828;
  margin-bottom: 8px;
}

.dp :global(.react-datepicker__navigation) {
  top: 12px;
}

.dp :global(.react-datepicker__navigation-icon::before) {
  border-color: #475467;
}

.dp :global(.react-datepicker__day-names),
.dp :global(.react-datepicker__week) {
  display: flex;
  flex-wrap: nowrap;
}

.dp :global(.react-datepicker__day-name),
.dp :global(.react-datepicker__day) {
  flex: 0 0 36px;
  width: 36px;
  height: 32px;
  margin: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 32px;
  font-size: 14px;
  line-height: 1;
}

.dp :global(.react-datepicker__day-name) {
  font-size: 12px;
  font-weight: 600;
  color: #667085;
  text-transform: uppercase;
}

.dp :global(.react-datepicker__day:hover) {
  background: #f2f4f7;
}

.dp :global(.react-datepicker__day--selected),
.dp :global(.react-datepicker__day--keyboard-selected) {
  background: #475467;
  color: #fff;
}

.dp :global(.react-datepicker__day--outside-month) {
  color: #98a2b3;
}

/* минулі дні */
.dp :global(.react-datepicker__day--disabled) {
  color: #98a2b3;
  cursor: not-allowed;
}
