.hero {
  width: 100%;
  background-image: url("/heroBackground/Hero-1x.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  min-height: calc(100dvh - 71px);
  margin: 0 auto;
}

@supports (background-image: image-set(url("/x.webp") 1x)) {
  .hero {
    background-image: image-set(
      url("/heroBackground/Hero-1x.webp") 1x,
      url("/heroBackground/Hero-2x.webp") 2x
    );
  }
}

.container {
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #f7f7f7;
  margin: 0 auto;
  flex: 1;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 335px;
  width: 100%;
  color: #f7f7f7;
}

.title {
  font-weight: 600;
  font-size: 40px;
  line-height: 1.1;
  text-align: center;
  margin-bottom: 20px;
}

.text {
  line-height: 1.5;
  text-align: center;
  margin-bottom: 60px;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  max-width: 250px;
  width: 100%;
  border-radius: 200px;
  background-color: #e44848;
  color: #fff;
  font-weight: 600;
  transition: background-color 250ms ease;
}

.btn:hover,
.btn:focus-visible,
.btn:active {
  background-color: #d84343;
}

@media (min-width: 768px) {
  .content {
    max-width: 768px;
  }

  .title {
    font-size: 44px;
  }

  .text {
    font-size: 20px;
  }

  .btn {
    height: 56px;
    width: 173px;
  }
}

@media (min-width: 1440px) {
  .container {
    margin: 0 auto;
    padding: 0 64px;
    max-width: 1440px;
    width: 100%;
    align-items: flex-start;
  }

  .content {
    margin: 0;
    align-items: flex-start;
    max-width: 600px;
    width: 100%;
  }

  .title,
  .text {
    text-align: left;
  }

  .title {
    font-size: 48px;
    line-height: 0.67;
    margin-bottom: 16px;
  }

  .text {
    font-size: 24px;
    margin-bottom: 40px;
  }
}
