.list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 22px;
  padding: 0;
  list-style: none;
}

.item {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 10px 16px;
  border-radius: 100px;
  background-color: #f2f4f7;
}

.icon {
  width: 20px;
  height: 20px;
}

.label {
  line-height: 1.5;
}

@media (min-width: 768px) {
  .label {
    font-size: 14px;
  }
}

@media (min-width: 1440px) {
  .list {
    margin-bottom: 100px;
  }

  .label {
    font-size: 16px;
  }
}
