.card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px 16px 26px 16px;
  border-radius: 20px;
  border: 1px solid #dadde1;
  background-color: #fff;
}

.imageWrap {
  position: relative;
  width: 100%;
  height: 220px;
  border-radius: 10px;
  overflow: hidden;
  background: #dadde1;
}

.image {
  object-fit: cover;
}

.imageFallback {
  width: 100%;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.headerRow {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 16px;
}

.title {
  margin: 0;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 600;
  line-height: 1.33;
}

.priceAndFav {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 6px;
}

.price {
  font-size: 20px;
  font-weight: 600;
}

.favBtn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  border: none;
  background-color: transparent;
}

.favIcon {
  width: 24px;
  height: 24px;
}

.metaRow {
  display: flex;
  gap: 18px;
  flex-wrap: wrap;
  font-size: 14px;
  margin-bottom: 6px;
}

.rating,
.location {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.star,
.pin {
  width: 16px;
  height: 16px;
  flex: 0 0 16px;
  display: block;
  fill: currentColor;
}

.desc {
  margin: 0;
  color: #475467;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.bageWrap {
  margin: 16px 0;
}

.moreBtn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  max-width: 100%;
  width: 100%;
  border-radius: 200px;
  background-color: #e44848;
  color: #fff;
  font-weight: 600;
  transition: background-color 250ms ease;
}

.moreBtn:hover,
.moreBtn:focus-visible,
.moreBtn:active {
  background-color: #d84343;
}

@media (min-width: 768px) {
  .card {
    padding: 20px;
  }

  .title {
    font-size: 22px;
  }

  .price {
    font-size: 22px;
  }

  .moreBtn {
    max-width: 166px;
    height: 46px;
  }
}

@media (min-width: 1440px) {
  .card {
    display: grid;
    grid-template-columns: 292px 1fr;
    gap: 24px;
    padding: 24px;
  }

  .imageWrap {
    height: 100%;
  }

  .metaRow {
    gap: 16px;
    font-size: 16px;
    margin-bottom: 16px;
  }

  .content {
    gap: 8px;
  }

  .headerRow {
    flex-direction: row;
  }

  .title {
    font-size: 24px;
  }

  .priceAndFav {
    gap: 12px;
    margin-bottom: 0;
  }

  .price {
    font-size: 24px;
  }

  .desc {
    -webkit-line-clamp: 1;
  }

  .moreBtn {
    height: 56px;
  }
}
